/* /* ============================
    preloader
===============================*/
#loder{
    background-color:rgb(248, 247, 238);
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
#status{
    background-image: url("../img/preloader/810.gif");
    background-repeat: none;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
} */
/* ============================
    home section
===============================*/
#home-bg-video {
    position: fixed;
    left: 50%;
    top: 50%;
}
#home{
    background: none;
    height: 100%;
}
